* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.custom-carusal {
    padding-top: 20px;
}
.custom-carusal .custom-carusal-items {
    background-color: #fbe9e8;
}
/* adress and contract  */

.number,
.mail-adress span,
a {
    color: gray;
}
.nav-link:hover {
    color: lightseagreen !important;
}

.nav-link span:hover {
    color: lightseagreen !important;
}
.call-mail-icon i {
    color: red;
}
/* search bar  start  */

.custom-search-bar {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.custom-search-bar .card-wrapper {
    border: none;
    background: transparent;
    /* width: 100%; */
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.form-control-borderless:focus {
    background-color: transparent;
    color: gray;
}
/* search-bar End  */

/* ixon section start */
#icon .icon-wraper {
    box-sizing: border-box;
    border-radius: 10px;
}
#icon .icon-wraper a {
    color: rgb(20, 228, 183);
    font-size: 20px;
    font-weight: 700;
    padding: 4px 20px;
    padding-right: 50px;
}
#icon .icon-wraper a :hover {
    color: rgb(76, 20, 228);
}
#icon .icon-wraper a > img {
    width: 32px;
    height: 32px;
}

/* responsivve icon */

@media only screen and (max-width: 1024px) {
    #icon .icon-wraper {
        border-radius: 5px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0) !important;
    }

    #icon .icon-wraper a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(20, 228, 183);
        font-size: 15px;
        font-weight: 500;
        padding: 2px 5px;
        padding-right: 15px;
    }
    #icon .icon-wraper a > img {
        display: block;
        margin: 0 auto;
    }
    #icon .icon-wraper a > span {
        display: block;
        text-align: center;
    }
}

/* icon-section end  */
.product1,
.product2,
.product3 {
    padding: 10px 10px;
    border-radius: 10px;
}

.product1,
.product2,
.product3 > h1 {
    color: white;
}

.catagory-img {
    width: 25%;
}
.custom-card-body {
    border: none;
}
.img-box {
    overflow: hidden;
}

.custom-card-footer {
    background: none;
    border-top: none;
}

.custom-card-body img {
    transition: transform 1s ease;
    width: 100%;
    height: 100%;
}
.custom-card-body img:hover {
    transform: scale(1.4);
    cursor: pointer;
}
